<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe do Contato</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/home">
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content _ngcontent-unh-c0="" class="ios overscroll hydrated" style="--offset-top:0px; --offset-bottom:0px;">
  <ion-item _ngcontent-unh-c0="" class="item ios ion-focusable item-label hydrated">
    <ion-avatar _ngcontent-unh-c0="" slot="start" class="ios hydrated">
      <img _ngcontent-unh-c0="" src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
    </ion-avatar>

    <ion-label _ngcontent-unh-c0="" class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2 _ngcontent-unh-c0="">ID: {{id}}</h2>
      <p _ngcontent-unh-c0="">Deixa a vida me levar...</p>
    </ion-label>

  </ion-item>

  <ion-list _ngcontent-unh-c0="" class="ios list-ios hydrated">
    <ion-item _ngcontent-unh-c0="" class="msg self item ios in-list ion-focusable item-label hydrated">
      <ion-label _ngcontent-unh-c0="" class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated"> Oi Sumido... </ion-label>
    </ion-item>
    <ion-item _ngcontent-unh-c0="" class="msg other item ios in-list ion-focusable item-label hydrated">
      <ion-label slot='end' _ngcontent-unh-c0="" class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated"> Opa :) </ion-label>
    </ion-item>
  </ion-list>

  <ion-item _ngcontent-unh-c0="" class="new_msg item ios ion-focusable item-interactive item-input item-has-placeholder hydrated">
    <ion-input _ngcontent-unh-c0="" placeholder="Nova Mensagem" class="sc-ion-input-ios-h sc-ion-input-ios-s ios hydrated">

    </ion-input>
    <ion-icon _ngcontent-unh-c0="" name="log-in" role="img" class="ios hydrated" aria-label="log in"></ion-icon>
  </ion-item>

</ion-content>